# Rebuild Command Generated
nixos-switch.log

# NixOS Flakes Generated
flake.lock

# NixOS Hardware Configuration
# Flakes does not recognise anything that is not tracked
# hardware-configuration.nix
